@import "tailwindcss";

@font-face {
  font-family: 'Projekt Blackbird';
  src: url('/font/projekt-blackbird-v2.otf') format('opentype');
  font-display: swap;
}



:root {
  --background: #efefef;
  --foreground: #1d1d1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-raleway);
}